<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Insta Server</title>
  {% load static %}
  <link rel="shortcut icon" href="{% static 'img/logo.svg' %}">
  <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css' %}">
  <link rel="stylesheet" href="{% static 'node_modules/prismjs/themes/prism-twilight.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/instaserver/">
      <img src="{% static 'img/logo.svg' %}" width="25" height="25" alt="insta">
      <img src="{% static 'img/pi-logo.svg' %}" width="25" height="25" alt="pi">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li id="nav_info" class="nav-item">
          <a class="nav-link" href="/instaserver/?tab=info">Info </a>
        </li>
        <li id="nav_chart" class="nav-item">
          <a class="nav-link" href="/instaserver/?tab=chart">Chart</a>
        </li>
        <li id="nav_smart_log" class="nav-item">
          <a class="nav-link" href="/instaserver/?tab=smart_log">Smart-Log</a>
        </li>
      </ul>

    </div>
  </nav>


  <div id="main_placeholder" class="container-fluid">
  </div>



  <!-- Modal -->
  <div class="modal fade" id="chart_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal_title">Chart</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img id="modal_visual" alt="chart">
        </div>
      </div>
    </div>
  </div>

  <script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'node_modules/popper.js/dist/umd/popper.min.js' %}"></script>
  <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'node_modules/lodash/lodash.min.js' %}"></script>
  <script src="{% static 'node_modules/moment/moment.js' %}"></script>
  <script src="{% static 'node_modules/g1/dist/g1.min.js' %}"></script>
  <script src="{% static 'node_modules/prismjs/prism.js' %}"></script>
  <script src="{% static 'js/index.js' %}"></script>

  <!-- g1 templates -->
  <script type="text/html" src="{% static 'g1_templates/log.html' %}" id="log_template"></script>
  <script type="text/html" src="{% static 'g1_templates/visual.html' %}" id="visual_template"></script>
  <script type="text/html" src="{% static 'g1_templates/smart_log.html' %}" id="smart_log_template"></script>
</body>

</html>